/*....................................SCSS VARIABLES..................................*/
/*....................................................................................*/
/*.................................................................................*/
/*$break-large-desktop: 2500px;*/
/*$break-infinite: 500000px;*/
/*....................................SCSS MIXINS..................................*/
.pop {
  width: auto;
  height: auto;
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  fill: #FFFFFF;
  stroke: #FFFFFF;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease; }
  .pop:hover {
    fill: #d94f30;
    stroke: #d94f30;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    .pop:hover a svg {
      fill: #d94f30;
      stroke: #d94f30; }
      .pop:hover a svg text {
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        fill: #d94f30;
        stroke: #d94f30; }
    @media only screen and (min-width: 0px) and (max-device-width: 767px) {
      .pop:hover {
        fill: #d94f30;
        stroke: #d94f30; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
      .pop:hover {
        fill: #FFFFFF !important;
        stroke: #FFFFFF !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
      .pop:hover {
        fill: #FFFFFF !important;
        stroke: #FFFFFF !important; } }
  .pop .pop-a {
    width: auto;
    height: auto; }
    .pop .pop-a svg {
      width: 60px;
      height: auto; }

.nav {
  width: 100px;
  height: 500px;
  position: fixed;
  position: fixed;
  right: 10px;
  top: 100px;
  z-index: 999; }

.nav-content {
  width: 100px;
  height: 500px; }
  .nav-content .nav-ul .nav-li {
    width: 100px;
    text-align: right; }
    .nav-content .nav-ul .nav-li a {
      color: #FFFFFF;
      fill: #FFFFFF;
      transition: color 0.4s ease;
      -webkit-transition: color 0.4s ease;
      -moz-transition: color 0.4s ease;
      -ms-transition: color 0.4s ease;
      -o-transition: color 0.4s ease;
      font-size: 80px;
      font-weight: 900; }
      .nav-content .nav-ul .nav-li a:hover {
        color: #d94f30;
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/ }
        @media only screen and (min-width: 0px) and (max-device-width: 767px) {
          .nav-content .nav-ul .nav-li a:hover {
            color: #FFFFFF !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
          .nav-content .nav-ul .nav-li a:hover {
            color: #FFFFFF !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
          .nav-content .nav-ul .nav-li a:hover {
            color: #FFFFFF !important; } }

.soundcloud-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999; }
  .soundcloud-button a {
    color: #FFFFFF;
    fill: #FFFFFF;
    transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    font-size: 80px;
    font-weight: 900; }
    .soundcloud-button a:hover {
      color: #d94f30;
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/ }
      @media only screen and (min-width: 0px) and (max-device-width: 767px) {
        .soundcloud-button a:hover {
          color: #FFFFFF !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
        .soundcloud-button a:hover {
          color: #FFFFFF !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
        .soundcloud-button a:hover {
          color: #FFFFFF !important; } }

.soundcloud {
  position: fixed;
  top: 100px;
  left: 10px; }
  .soundcloud iframe {
    width: 200px;
    height: 200px; }

/*....................................General settings..................................*/
/*.....................TEXT MARK STYLES......................*/
::-moz-selection {
  background: transparent;
  color: #d94f30;
  fill: #d94f30;
  stroke: #d94f30;
  text-shadow: none;
  opacity: 1; }

::selection {
  background: transparent;
  color: #d94f30;
  fill: #d94f30;
  stroke: #d94f30;
  text-shadow: none;
  opacity: 1; }

/*.........................................................*/
/*.....................ACTIVE CLASSES......................*/
.active {
  color: #FF0000 !important;
  pointer-events: none; }

/*.........................................................*/
/*....................HIDING SCROLLBAR.....................*/
::-webkit-scrollbar {
  display: none; }

/*.....................GENERAL STYLES......................*/
html {
  font-family: helvetica;
  width: 100%;
  height: 100%;
  margin: 0, 0;
  padding: 0, 0; }

body {
  width: 100%;
  height: 100%;
  margin: 0, 0;
  padding: 0, 0;
  text-transform: uppercase;
  /* Set the background color of the HTML page to black */
  background-color: #000000;
  /* Hide oversized content. This prevents the scroll bars. */ }

p, a, li {
  font-size: 12px;
  list-style-type: none;
  letter-spacing: 1px;
  color: #FFFFFF; }

a {
  color: #FFFFFF;
  fill: #FFFFFF;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease; }
  a:hover {
    color: #606060;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-device-width: 767px) {
      a:hover {
        color: #FFFFFF !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
      a:hover {
        color: #FFFFFF !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
      a:hover {
        color: #FFFFFF !important; } }

input, textarea, select, a, li {
  text-decoration: none; }

/*.........................................................*/
/*.............................NG-CLOAK............................*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer; }

/*.........................................................*/
/*.........................MAIN............................*/
main {
  width: 100vw;
  position: relative;
  display: block;
  list-style-type: none; }

/*.............................Loader............................*/
.page-loader-div {
  display: block;
  height: 100vh;
  opacity: 1;
  display: block;
  width: 100vw;
  float: left;
  padding: 0;
  margin: 0;
  display: list-item;
  background-color: transparent;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed; }
  .page-loader-div p {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 50px;
    margin-top: -25px;
    margin-left: -50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-family: helvetica; }

/*.............................NG-CLOAK............................*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer; }

.share {
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 14; }

.share-button {
  color: #000000;
  fill: #000000;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease; }
  .share-button:hover {
    color: #A78A71;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-device-width: 767px) {
      .share-button:hover {
        color: #000000 !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
      .share-button:hover {
        color: #000000 !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
      .share-button:hover {
        color: #000000 !important; } }

.share-content {
  position: fixed;
  bottom: 50px;
  right: -87px; }
  .share-content .share-ul .share-li a {
    text-align: right;
    width: 100%;
    display: block;
    font-size: 16px;
    line-height: 20px; }

@keyframes close_slideLeft {
  0% {
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Safari */
    transform-origin: 0 0; }
  100% {
    transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    /* IE 9 */
    -webkit-transform: translateX(-100px);
    /* Safari */
    transform-origin: 0 0; } }
@-webkit-keyframes close_slideLeft {
  0% {
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Safari */
    transform-origin: 0 0; }
  100% {
    transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    /* IE 9 */
    -webkit-transform: translateX(-100px);
    /* Safari */
    transform-origin: 0 0; } }
@-moz-keyframes close_slideLeft {
  0% {
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Safari */
    transform-origin: 0 0; }
  100% {
    transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    /* IE 9 */
    -webkit-transform: translateX(-100px);
    /* Safari */
    transform-origin: 0 0; } }
@-ms-keyframes close_slideLeft {
  0% {
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Safari */
    transform-origin: 0 0; }
  100% {
    transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    /* IE 9 */
    -webkit-transform: translateX(-100px);
    /* Safari */
    transform-origin: 0 0; } }
@-o-keyframes close_slideLeft {
  0% {
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Safari */
    transform-origin: 0 0; }
  100% {
    transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    /* IE 9 */
    -webkit-transform: translateX(-100px);
    /* Safari */
    transform-origin: 0 0; } }
@keyframes close_slideRight {
  0% {
    transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    /* IE 9 */
    -webkit-transform: translateX(-100px);
    /* Safari */
    transform-origin: 0 0; }
  100% {
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Safari */
    transform-origin: 0 0; } }
@-webkit-keyframes close_slideRight {
  0% {
    transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    /* IE 9 */
    -webkit-transform: translateX(-100px);
    /* Safari */
    transform-origin: 0 0; }
  100% {
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Safari */
    transform-origin: 0 0; } }
@-moz-keyframes close_slideRight {
  0% {
    transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    /* IE 9 */
    -webkit-transform: translateX(-100px);
    /* Safari */
    transform-origin: 0 0; }
  100% {
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Safari */
    transform-origin: 0 0; } }
@-ms-keyframes close_slideRight {
  0% {
    transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    /* IE 9 */
    -webkit-transform: translateX(-100px);
    /* Safari */
    transform-origin: 0 0; }
  100% {
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Safari */
    transform-origin: 0 0; } }
@-o-keyframes close_slideRight {
  0% {
    transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    /* IE 9 */
    -webkit-transform: translateX(-100px);
    /* Safari */
    transform-origin: 0 0; }
  100% {
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Safari */
    transform-origin: 0 0; } }
.share-content {
  position: fixed;
  transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  /* IE 9 */
  -webkit-transform: translateX(-100px);
  /* Safari */
  transform-origin: 0 0; }

.share-content.ng-hide {
  transform: translateX(0px);
  -ms-transform: translateX(0px);
  /* IE 9 */
  -webkit-transform: translateX(0px);
  /* Safari */
  transform-origin: 0 0; }

.share-content.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation: close_slideLeft 0.3s ease-in;
  -moz-animation: close_slideLeft 0.3s ease-in;
  -ms-animation: close_slideLeft 0.3s ease-in;
  -o-animation: close_slideLeft 0.3s ease-in;
  animation: close_slideLeft 0.3s ease-in; }

.share-content.ng-hide-add.ng-hide-add-active {
  -webkit-animation: close_slideRight 0.3s ease-in;
  -moz-animation: close_slideRight 0.3s ease-in;
  -ms-animation: close_slideRight 0.3s ease-in;
  -o-animation: close_slideRight 0.3s ease-in;
  animation: close_slideRight 0.3s ease-in; }

.images-loader-div {
  display: block;
  position: relative;
  width: 33.333333333333vw !important;
  height: 33.3333333333vw !important;
  opacity: 1;
  display: block;
  padding: 0;
  margin: 0 0 0 0;
  display: list-item;
  background-color: #FFFFFF;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .images-loader-div {
      width: 100vw !important;
      height: 100vw !important; } }
  .images-loader-div .loader {
    position: relative;
    height: 35px !important;
    width: 35px !important;
    top: 50% !important;
    left: 50%;
    margin-top: -17.5px;
    margin-left: -17.5px;
    border: 2px solid #606060;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: rotate .75s linear infinite;
    animation: rotate .75s linear infinite;
    z-index: 1;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
      .images-loader-div .loader {
        left: 50%;
        top: 56%;
        margin-left: -25px; } }

.grey-placeholder {
  display: block;
  height: 100%;
  width: 100%; }

.home {
  width: 100vw;
  height: auto; }

.logo {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .logo table {
    width: 100%;
    height: 100%; }
    .logo table tr td {
      vertical-align: middle;
      height: 100%; }
      .logo table tr td .logo-h1 {
        margin: auto;
        height: 15vw; }
        .logo table tr td .logo-h1 svg {
          width: 100%;
          height: 100%; }

.episode {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .episode table {
    width: 100%;
    height: 100%; }
    .episode table tr td {
      vertical-align: middle;
      height: 100%; }
      .episode table tr td .episode-iframe {
        display: block;
        margin: auto;
        width: 100vw;
        height: 60vh; }

.album {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .album table {
    width: 100%;
    height: 100%; }
    .album table tr td {
      vertical-align: middle;
      height: 100%; }
      .album table tr td .album-content {
        display: block;
        margin: auto;
        width: 71vw;
        height: auto; }
        .album table tr td .album-content .album-content-front {
          display: inline-block;
          width: 35vw;
          height: auto;
          float: left; }
        .album table tr td .album-content .album-content-back {
          display: inline-block;
          width: 35vw;
          height: auto;
          float: left;
          margin-left: 1vw; }

.gallery {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .gallery table {
    width: 100%;
    height: 100%; }
    .gallery table tr td {
      vertical-align: middle;
      height: 100%; }
      .gallery table tr td .gallery-content {
        display: block;
        margin: auto;
        width: 100vw;
        height: auto; }
        .gallery table tr td .gallery-content .gallery-content-image {
          display: inline-block;
          float: left;
          width: 25vw;
          height: auto; }

.social {
  width: 100vw;
  height: 80px;
  position: absolute;
  bottom: 0; }
  .social .social-wrapper {
    margin: auto;
    height: 80px;
    width: 130px; }
    .social .social-wrapper .social-icon {
      display: block;
      float: left;
      width: 30px;
      height: 30px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px; }
      .social .social-wrapper .social-icon:hover a svg {
        fill: #FFFFFF;
        stroke: #FFFFFF;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease; }
        .social .social-wrapper .social-icon:hover a svg path {
          fill: #FFFFFF;
          stroke: #FFFFFF;
          transition: all 0.4s ease;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease; }
          .social .social-wrapper .social-icon:hover a svg path:hover {
            fill: #d94f30;
            stroke: #d94f30;
            /*  @if $media == large-desktop {
                @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
              }*/
            /*  @if $media == large-desktop {
                @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
              }*/
            /*  @if $media == large-desktop {
                @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
              }*/ }
            .social .social-wrapper .social-icon:hover a svg path:hover a svg {
              fill: #d94f30;
              stroke: #d94f30; }
              .social .social-wrapper .social-icon:hover a svg path:hover a svg text {
                transition: all 0.4s ease;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                fill: #d94f30;
                stroke: #d94f30; }
            @media only screen and (min-width: 0px) and (max-device-width: 767px) {
              .social .social-wrapper .social-icon:hover a svg path:hover {
                fill: #d94f30;
                stroke: #d94f30; } }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
              .social .social-wrapper .social-icon:hover a svg path:hover {
                fill: #FFFFFF !important;
                stroke: #FFFFFF !important; } }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
              .social .social-wrapper .social-icon:hover a svg path:hover {
                fill: #FFFFFF !important;
                stroke: #FFFFFF !important; } }
        .social .social-wrapper .social-icon:hover a svg:hover {
          fill: #d94f30;
          stroke: #d94f30;
          /*  @if $media == large-desktop {
              @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
            }*/
          /*  @if $media == large-desktop {
              @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
            }*/
          /*  @if $media == large-desktop {
              @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
            }*/ }
          .social .social-wrapper .social-icon:hover a svg:hover a svg {
            fill: #d94f30;
            stroke: #d94f30; }
            .social .social-wrapper .social-icon:hover a svg:hover a svg text {
              transition: all 0.4s ease;
              -webkit-transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;
              -o-transition: all 0.4s ease;
              fill: #d94f30;
              stroke: #d94f30; }
          @media only screen and (min-width: 0px) and (max-device-width: 767px) {
            .social .social-wrapper .social-icon:hover a svg:hover {
              fill: #d94f30;
              stroke: #d94f30; } }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
            .social .social-wrapper .social-icon:hover a svg:hover {
              fill: #FFFFFF !important;
              stroke: #FFFFFF !important; } }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
            .social .social-wrapper .social-icon:hover a svg:hover {
              fill: #FFFFFF !important;
              stroke: #FFFFFF !important; } }
      .social .social-wrapper .social-icon:nth-child(1) {
        margin-left: 0; }
      .social .social-wrapper .social-icon:nth-child(3) {
        margin-right: 0; }
      .social .social-wrapper .social-icon a svg {
        width: 100%;
        height: 100%; }

/*# sourceMappingURL=app.css.map */
