<!DOCTYPE html>

<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js" > <!--<![endif]-->



<head>
  <!-- <link rel="stylesheet" href="css/reset.css"> -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <title>blonder</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

  <link rel="stylesheet" href="/stylesheet/css/reset.css">
  <link rel="stylesheet" href="app.css">

<meta name=“author” title=“Elia Fornari | Qual Agency”>



<!--
=======================================================================

    Chapter | 2016

    Designed and developed by Elia Fornari | Qual Agency

=======================================================================

-->



  <base href="/">


  <script>
    //google analytics
  </script>

</head>



<!-- .................................. Body ...............................-->

<body ng-controller="routeController" page-loading-spinner>


<nav-directive></nav-directive>

<!-- <header ng-controller="navCtrl" class="header" ng-click="openNav()">
  <div class="header-wrapper">
    <pop-directive></pop-directive>
  </div>
</header> -->




<div class="pop" ng-click="openNav()">
  <a class="pop-a" href="/" >

    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 width="716.85px" height="825.333px" viewBox="1814.5 0 716.85 825.333" enable-background="new 1814.5 0 716.85 825.333"
    	 xml:space="preserve">
    <text transform="matrix(0.9104 0 0 1 1743.6522 774.084)" fill="#FFFFFF" stroke="#FFFFFF" stroke-miterlimit="10" font-family="'Helvetica-BoldOblique'" font-size="1000">O</text>
    <text transform="matrix(0.9104 0 0 1 1743.6522 774.084)" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="60" stroke-miterlimit="10" font-family="'Helvetica-BoldOblique'" font-size="1000">O</text>
    </svg>

  </a>
</div>







  <div ng-show="pageLoading" class="page-loader-div">

    <p>
      loading...
    </p>

  </div>



<div class="soundcloud-button" ng-click="openSound()">
  <a>S</a>

</div>

<div class="soundcloud">




  <!-- <object class="sound-object" ng-hide="isSoundOpen" id="myPlayer" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
  <param name="movie" value="http://player.soundcloud.com/player.swf?url=https://soundcloud.com/blonderworld/sets/ep1-masters-final/s-BTHhn&amp;auto_play=true&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed class="sound-embed" allowscriptaccess="always" height="81" src="https://w.soundcloud.com/player/?url=https://soundcloud.com/blonderworld/sets/ep1-masters-final/s-BTHhn&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" width="100%" name="myPlayer"></embed>
</object> -->

<iframe ng-show="isSoundOpen" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/198074775&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

</div>


<!--
  <div class="share">
    <div class="share-button" ng-click="openShare()">
      SHARE
    </div>
    <div class="share-content" ng-show="isShare">
      <ul class="share-ul">
        <li class="share-li"><a href="" target="_blank">instagram</a></li>
        <li class="share-li"><a href="" target="_blank">facebook</a></li>
        <li class="share-li"><a href="" target="_blank">tumblr</a></li>
      </ul>
    </div>
  </div>
 -->




  <!-- .................................. Main ...............................-->

  <main ng-view class='main' autoscroll="true">
  </main>





</body>


<script type="text/javascript" src="/node_modules/prismic.io/dist/prismic.io.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-loader.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-touch.js"></script>


  <script type="text/javascript" src="/concat.js"></script>

</html>
