.home{
  width: 100vw;
  height: auto;
}



.logo{
  width: 100vw;
  height: 100vh;
  position: relative;
  table{
    width: 100%;
    height: 100%;
    tr{
      td{
        vertical-align: middle;
        height: 100%;
        .logo-h1{
          margin: auto;
          width: 70vw;

          svg{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}




.episode{
  width: 100vw;
  height: 100vh;
  position: relative;

  table{
    width: 100%;
    height: 100%;
    tr{
      td{
        vertical-align: middle;
        height: 100%;
        .episode-iframe{
          display: block;
          margin: auto;
          width: 70vw;
          height:45vh;

        }

      }
    }
  }
}









.album{
  width: 100vw;
  height: 100vh;
  position: relative;

  table{
    width: 100%;
    height: 100%;
    tr{
      td{
        vertical-align: middle;
        height: 100%;
        .album-content{
          display: block;
          margin: auto;
          width: 71vw;
          height:auto;
          .album-content-front{
            display: inline-block;
            width: 35vw;
            height: auto;
            float: left;
          }
          .album-content-back{
            display: inline-block;
            width: 35vw;
            height: auto;
            float: left;
            margin-left: 1vw;
          }

        }

      }
    }
  }
}












.gallery{
  width: 100vw;
  height: 100vh;
  position: relative;

  table{
    width: 100%;
    height: 100%;
    tr{
      td{
        vertical-align: middle;
        height: 100%;
        .gallery-content{
          display: block;
          margin: auto;
          width: 100vw;
          height:auto;
          .gallery-content-image{
            display: inline-block;
            float: left;
            width: 25vw;
            height: auto;

          }

        }

      }
    }
  }
}



.social{
  width: 100vw;
  height:80px;
  position: absolute;
  bottom:0;
  .social-wrapper{
    margin:auto;
    height:80px;
    width:220px;
    .social-icon{
      display: block;
      float: left;
      width: 30px;
      height: 30px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
      &:hover{
        a{
          svg{
            path{
              @include hover-effect-fill(#FFFFFF, #d94f30);

            }
            @include hover-effect-fill(#FFFFFF, #d94f30);
          }
        }

      }
      &:nth-child(1){
        margin-left: 0;
      }
      &:nth-child(4){
        margin-right: 0;
      }
      a{
        svg{
          width:100%;
          height:100%;
        }
      }
    }
  }
}
