<nav ng-controller="navCtrl" class="nav" ng-show="isNavOpen" ng-click="closeNav()">


<div class="nav-close" ng-click="closeNav()">

</div>



    <div class="nav-content">
        <ul class="nav-ul">
          <li class="nav-li"><a ng-click="gotoAnchor('episodeoneHash')">1</a></li>
          <li class="nav-li"><a ng-click="gotoAnchor('episodetwoHash')">2</a></li>
          <li class="nav-li"><a ng-click="gotoAnchor('episodethreeHash')">3</a></li>

        </ul>
    </div>
<!-- <table class="nav-table">
  <tr class="nav-tr">
    <td class="nav-td">
        <ul class="nav-ul">
          <li class="nav-li"><a ng-click="closeNav()">home</a></li>
          <li class="nav-li"><a ng-click="closeNav();">product</a></li>
          <li class="nav-li"><a ng-click="closeNav()">contact</a></li>

        </ul>

    </td>
  </tr>
</table> -->




</nav>
