<div class="home" summary="home">




      <div class="logo">
        <table>
          <tr>
            <td>
              <h1 class="logo-h1">


                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 width="354px" height="66.667px" viewBox="0 0 354 66.667" enable-background="new 0 0 354 66.667" xml:space="preserve">
                <text transform="matrix(0.9104 0 0 1 -0.8391 61.5963)"><tspan x="0" y="0" fill="#78CBCF" stroke="#78CBCF" stroke-width="6" stroke-miterlimit="10" font-family="'Helvetica-Bold'" font-size="77.8777">BL</tspan><tspan x="103.812" y="0" fill="#78CBCF" stroke="#78CBCF" stroke-width="6" stroke-miterlimit="10" font-family="'Helvetica-BoldOblique'" font-size="77.8777">O</tspan><tspan x="164.387" y="0" fill="#78CBCF" stroke="#78CBCF" stroke-width="6" stroke-miterlimit="10" font-family="'Helvetica-Bold'" font-size="79.2887">NDER</tspan></text>
                </svg>


              </h1>
            </td>
          </tr>
        </table>
      </div>




    <div class="logo">
      <table>
        <tr>
          <td>
            <h1 class="logo-h1">


              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              	 width="3466px" height="824.667px" viewBox="0 0 3466 824.667" enable-background="new 0 0 3466 824.667" xml:space="preserve">
              <text transform="matrix(0.9104 0 0 1 40.6274 767.0913)"><tspan x="0" y="0" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="64.4087" stroke-miterlimit="10" font-family="'Helvetica-Bold'" font-size="983.7073">W</tspan><tspan x="928.47" y="0" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="64.4087" stroke-miterlimit="10" font-family="'Helvetica-BoldOblique'" font-size="983.7073">O</tspan><tspan x="1693.629" y="0" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="64.4087" stroke-miterlimit="10" font-family="'Helvetica-Bold'" font-size="1001.5305">RLD</tspan></text>
              </svg>



            </h1>
          </td>
        </tr>
      </table>

        <div class="social">
          <social-directive></social-directive>
        </div>

    </div>


    <div class="section" id="3">
      <tour-directive></tour-directive>
    </div>




</div>
